/* Estilos globales para todos los elementos */
* {
  margin: 0;
  padding: 0;
}

/* Clase clearfix para limpiar floats */
.clearfix {
  float: none;
  clear: both;
}

/* Estilos para el elemento con el id "global" */
#global {
  width: 65%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 25px;
  background: white;
  box-shadow: 0 0 2px gray;
}

/* Estilos para el elemento con el id "logo" */
#logo {
  font-family: "Verdana", "Arial";
  font-size: 28px;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  width: 385px;
  height: 80px;
  float: left;
  margin-bottom: 20px;
  line-height: 75px;
  text-transform: uppercase;
}

/* Estilos para el elemento con el id "menu" */
#menu {
  font-family: Helvetica, Arial;
  background: #333;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Estilos para las listas desordenadas dentro del elemento con el id "menu" */
#menu ul {
  line-height: 46px;
  list-style: none;
}

/* Estilos para los elementos de lista dentro del elemento con el id "menu" */
#menu ul li {
  height: 46px;
  display: inline-block;
  transition: all 300ms;
}

/* Estilos para los enlaces dentro del elemento con el id "menu" */
#menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px; /* Aumentamos el padding a la derecha para dar más espacio a los enlaces */
}

/* Estilos para el elemento con el id "posts" */
#posts {
  width: 60%;
  float: left;
  font-family: Helvetica, Arial;
}

/* Estilos para los elementos con la clase "post" */
.post {
  padding: 7px;
}

/* Estilos para los títulos dentro de elementos con la clase "post" */
h2 {
  font-family: Helvetica, Arial;
  font-size: 30px;
  color: #333;
}

/* Estilos para los elementos con la clase "date" dentro de elementos con la clase "post" */
.post .date {
  display: block;
  color: gray;
  margin-top: 5px;
}

/* Estilos para los párrafos dentro de elementos con la clase "post" */
.post p {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 22px;
  text-align: justify;
}

.button-more {
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  width: 70px;
  margin-bottom: 20px;
}

/* Estilos para el contenido principal */
.content-wrapper {
  width: 50%;
  float: left;
  margin-top: 20px;
}

#box {
  padding: 7px;
}

/* Estilos para el acordeón */
#acordeon {
  margin-top: 20px;
  width: 120%;
}

/* Estilos para el sidebar */
#sidebar {
  font-family: Helvetica, Arial;
  width: 30%;
  float: right;
}

#sidebar h4 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 10px;
  color: #333;
  background: url("../img/lines.png") repeat-x;
}

#sidebar h4 span {
  background: white;
  padding: 5px;
}

#sidebar img {
  width: 100%;
}

#sidebar p {
  font-size: 15px;
  text-align: justify;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
 form input[type="number"],
 select{
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #ccc;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 5px;
}

form input[type="submit"] {
  background: #ccc;
  padding: 10px;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
}

footer {
  font-family: Helvetica, Arial;
  color: white;
  height: 47px;
  background: rgba(51, 51, 51, 0.70);
  margin: 0px auto;
  width: 65%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  line-height: 47px;
}

.bx-wrapper,
.bx-viewport {
  height: 250px !important;
}

#selector-theme {
  position: fixed;
  top: 40%;
  background: rgba(51, 51, 51, 0.7);
  width: 50px;
  height: 100px;
}

#to-green,
#to-red,
#to-blue {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  display: block;
  margin: 0px auto;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

#to-green {
  background: #235E3D;
}

#to-red {
  background: #ca3413;
}

#to-blue {
  background: #1f87c4;
}

.subir {
  color: white;
  text-decoration: none;
  display: block;
  float: right;
}
 #reloj{
   font-size: 40px;
   font-weight: bold;
   font-famili: Helvetica, Arial;
   color:#333;
   border: 5px dashed #333;
   width: 30%;
   padding: 30px;
   margin: 0px auto;
   }
#form_contact{
width:50%;
margin-top: 15px
}

#form_contact label{
width: 100%;
display:block;
margin-top:5px;
}
.form-error{
//float: right;
font-size: 11px;
background: red;
color:white;
padding: 10px;
width:100%;
}